@import './components/fonts';
@import './components/mixins';
@import './components/vars';
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "SF Display";
  font-weight: 400;
}
.mobile-menu{
  display: flex;
  flex-direction: column;
  header{
    display: flex;
    width: 100%;
    padding: 10px;
    .hamburger{
      display: flex;
      margin: 10px;
      flex-direction: column;
      width: 25px;
      height: 19px;
      justify-content: space-between;
      div{
        width: 100%;
        height: 3px;
        background: black;
        transition: $transition
      }
    }
    .opened{
      div:first-child{
        transform: rotate(45deg) translate(7px, 4px);
        transition-delay: 0.1s;
      }
      div:nth-child(2){
        opacity:0;
      }
      div:last-child{
        transform: rotate(-45deg) translate(7px, -4px);
      }
    }
  }
  @include media('medium'){
    display: none;
  }


  .mobile-list-menu{
    max-height: 0;
    overflow: hidden;
    transition: $transition;
    .item-menu-mobile{
      position: relative;
      &:after{
        content: '▾';
        position: absolute;
        right: 0;
        top:0;
      }
      .submenu{
        max-height: 0;
        overflow: hidden;
        transition: $transition
      }
      .sub-open{
        max-height: 500px;
        transition: $transition;
      ;
      }
    }
  }
  .visible{
    max-height: 100vh;
    transition: $transition;
  }
}
.desktop-menu{
  display: none;
  @include media('medium'){
    display: flex;
  }
  .desktop-list-menu{
    display: flex;
    list-style-type: none;
    li{
      margin: 10px;
      position: relative;
      .submenu{
        display: none;
        position: absolute;
        width: 100%;
        right: 0;
        li{
          .subsubmenu{
            display: none;
          }
          &:hover .subsubmenu{
            display: block;
          }
        }
      }
      &:hover{
        .submenu{
          display:block;
        }
      }
    }
  }
}

.sales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.sales img{
  width: 100%;
  height: auto;
}

.products {
  padding: 1rem;
  display: flex;

}

.products article {
  width: 100%;
  height: auto;
}

.trends-vouchers {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.trends-vouchers img{
  width: 100%;
  height: auto;
}

.extras {
  padding: 1rem;
}

.extras img{
  width: 100%;
  height: auto;
}

.footer-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: lightgrey;
}

.footer-media img {
  height: 2rem;
}

.footer-links {
  
}