/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/
/** Black */
@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
}

/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
}

/** Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}

/** Medium */
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}

/** Thin */
@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
}

/** Ultralight */
@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");
}

/*---------------------------------------------------------------------------*
 * SF UI Text
 *---------------------------------------------------------------------------*/
/** Bold */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf");
}

/** Bold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-BoldItalic.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf");
}

/** Heavy Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf");
}

/** Light */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Text-Light.otf");
}

/** Light Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf");
}

/** Medium */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf");
}

/** Medium Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-MediumItalic.otf");
}

/** Regular */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
}

/** Regular Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-RegularItalic.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf");
}

/** Semibold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf");
}

/** Ultrathin */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Text-Ultrathin.otf");
}

/** Ultrathin Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-UltrathinItalic.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "SF Display";
  font-weight: 400;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu header img {
  height: 29px;
}

.mobile-menu header .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25px;
  height: 19px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu header .hamburger div {
  width: 100%;
  height: 3px;
  background: black;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-menu header .opened div:first-child {
  -webkit-transform: rotate(45deg) translate(7px, 4px);
          transform: rotate(45deg) translate(7px, 4px);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.mobile-menu header .opened div:nth-child(2) {
  opacity: 0;
}

.mobile-menu header .opened div:last-child {
  -webkit-transform: rotate(-45deg) translate(7px, -4px);
          transform: rotate(-45deg) translate(7px, -4px);
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu .mobile-list-menu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-menu .mobile-list-menu .item-menu-mobile {
  position: relative;
}

.mobile-menu .mobile-list-menu .item-menu-mobile a {
  padding: 10px;
  display: block;
  position: relative;
}

.mobile-menu .mobile-list-menu .item-menu-mobile:after {
  content: '+';
  position: absolute;
  right: 10px;
  top: 10px;
}

.mobile-menu .mobile-list-menu .item-menu-mobile .submenu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-menu .mobile-list-menu .item-menu-mobile .sub-open {
  max-height: 500px;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-menu .visible {
  max-height: 100vh;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.desktop-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}

.desktop-menu .desktop-list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.desktop-menu .desktop-list-menu .item-menu {
  margin: 10px;
  opacity: 0;
  position: relative;
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
}

.desktop-menu .desktop-list-menu .item-menu .submenu {
  display: none;
  position: absolute;
  width: 100%;
  right: 0;
  width: 100vw;
  position: absolute;
  list-style: none;
  right: -100vw;
  padding: 20px;
  -webkit-transform: translate(-60px, 10px);
          transform: translate(-60px, 10px);
  background: rgba(255, 255, 255, 0.9);
  margin: -10px 0 0;
}

.desktop-menu .desktop-list-menu .item-menu .submenu li a {
  color: black;
  text-decoration: none;
}

.desktop-menu .desktop-list-menu .item-menu .submenu li .subsubmenu {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: 165px;
  top: 30px;
}

.desktop-menu .desktop-list-menu .item-menu .submenu li:hover .subsubmenu {
  display: block;
}

.desktop-menu .desktop-list-menu .item-menu:hover .submenu {
  display: block;
}

.header-main {
  display: none;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-main img {
  height: 29px;
}

.header-main .list-icons-user {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-main .list-icons-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-main .menu-with-icon {
  display: block;
  position: relative;
  z-index: 100;
  height: 18px;
  font-size: 13px;
  color: #666;
  font-weight: normal;
  padding: 0 20px;
  text-transform: none;
  background-position: center left;
  background-repeat: no-repeat;
  padding: 0 20px !important;
  margin-left: 20px;
  background-image: url("https://media.xxxlutz.com/i/xxxlutz/NCGlwOgvzu4JnHxvbpcwBk3g/icon-big-house.png?upscale=padd&scl=1");
}

.header-main .menu-with-icon a {
  text-decoration: none;
  color: #666;
}

.header-main .menu-with-icon a:focus {
  color: #333;
}

.header-main .wo-icon {
  background: none;
}

.header-main .wo-icon:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 17px;
  margin-bottom: -2px;
  background: url("../assets/img/header-account-grey.png") left bottom no-repeat;
}

.header-main form {
  position: relative;
}

.header-main form .search-button {
  position: absolute;
  right: 0;
  width: 34px;
  height: 33px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: url("../assets/img/icon-search.png") center no-repeat;
}

.header-main form .search {
  font-size: 13px;
  line-height: 20px;
  color: #333;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 10px;
  background: #fff;
  height: 33px;
  line-height: 33px;
  float: left;
  width: 30%;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  padding: 0 34px 0 10px;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .header-main form .search {
    width: 300px;
  }
  .header-main form .search:focus {
    width: 350px;
    -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  }
}

main img {
  width: 100%;
}

.sales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.sales img {
  width: 100%;
  height: auto;
}

.products {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.products article {
  width: 100%;
  height: auto;
}

.footer-media img {
  width: 100%;
}
/*# sourceMappingURL=core.css.map */